body {
  font-family: 'Zen Kaku Gothic New', sans-serif;
  text-align: left;
  padding: 10px 20px 0;
  background: #f4f4f7;
  color: #333;
  margin: 0;
  font-size: 1.5em;
}
h1 {
  font-family: 'Zen Old Mincho', serif;
  font-size: 2.7em;
  line-height: 1.2em;
  padding: 120px 16px 0;
  font-weight: 400;
  margin: 0;
}
h3 {
  font-weight: 300;
}
p {
  white-space: pre-wrap;
}
ul {
  list-style-type: none;
}
li#menu {
  font-family: 'Spectral SC', serif;
  float: right;
}
li#menu a {
  font-family: 'Spectral SC', serif;
  padding: 0px 30px;
}
li {
  font-weight: 400;
  font-size: 1em;
}
li a {
  font-family: 'Spectral', serif;
}
a:link {
  color: black;
  text-decoration: none;
}
a:visited {
  color: dimgray;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
a:active {
  text-decoration: underline;
}
.content-center {
  position: relative;
  padding: 40px 20px;
  width: 90%;
}
.content-text {
  text-align: left;
  word-wrap: break-word;
}
#portrait {
  width: 90%;
  max-width: 400px;
  height: auto;
  display: block;
}
#comic {
  display: block;
  width: 100%;
  height: auto;
}
.comicpanel {
  padding: 0;
  margin: 0;
  font-size: 0;
  line-height: 0;
  margin-top: -5px;
}
#handwrite {
  font-family: 'Alphabetism', 'Zen Old Mincho', serif;
  font-size: 2.7em;
}
@font-face {
  font-family: 'Alphabetism';
  src: url('/fonts/AnAlphaBetIsm.ttf');
}
