@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap');
@font-face {
  font-family: "AnAlphaBetIsm";
  src: url(fonts/AnAlphaBetIsm.ttf) format("truetype");
}

div {
  padding: 30px;
}

body {
  background-color: FloralWhite;
}

h1 {
  padding-top: 10px;
  font-family: "AnAlphaBetIsm", serif;
  font-size: 1.8em;
}

p {
  font-family: "Didact Gothic", sans-serif;
  font-size: 3em;
}

a {
  color: #2A2A2A;
}

.memo{
  padding-top: 80px;
  font-family: "AnAlphaBetIsm", serif;
  font-size: 1em;
  text-align: right;
}
