include menu.jade
h1#handwrite Alice Mira = Alm Chung
div.content-center
  img#portrait(src='./image/almchung.jpg' alt='a portrait of an asian person with a smile against a computer synthesized jungle-like background.')
  p.content-text
    | Hi, I'm Alice. I think a lot about...
    | 
    | 🌱 open-source software for
    | creative coding × informal learning
    | 🔍 representation of computing technology
    | ☀️ possibilities of automation
  h3 Currently:
  ul
    li ┌ developing docs for #[a(href='https://p5js.org/') p5.js] Friendly Errors System as a technical writer through...
    li ├⋯ a #[a(href='https://bit.ly/p5fesSurvey') survey ] for improving and re-imaging Friendly Errors
    li └⋯ a #[a(href='https://almichu.notion.site/p5-js-FES-Collaborative-Translation-ko-ENG-7b0ecceaacd64afaa2da3d61bac488ca') guideline ] for error writing and internationalization
    li + developing behavior tree-based multiagent simulation: #[a(href='https://football.kristinmcwharter.com/') #[ Football Practice ]]
    li + running daily workshops for my 6-year-old ╭(·◡·)╯
  h3 Previously: 
  ul
    li + developed #[a(href='https://almichu.cargo.site/Remote-Biology') low-barrier interfaces for microbiology]
    li + developed #[a(href='https://almichu.cargo.site/p5-js-Friendly-Error-System') p5.js Friendly Error System]
    li + made #[a(href='https://almichu.cargo.site/Biotic-Games') biotic games] with some classic video games flair
    li + taught #[a(href='https://www.sjsu.edu/design/graphic-design/index.php') design], #[a(href='https://dma.ucla.edu/') media art] and some #[a(href='https://bioengineering.stanford.edu/') engineering] students
    li + made #[a(href='https://almichu.cargo.site/mo-ui-i-ron') zines] on GAN (Generative Adversarial Networks) Art
    li + made comics #[a(href='https://almichu.cargo.site/Abstract-Comics-Generative') with code] and #[a(href='https://almchng.itch.io/') without code]
