ul
  li#menu #[a(href='./') #[ alice mira chung ]]
  li#menu #[a(href='https://www.dropbox.com/s/kg3bbd2jbxoqgcb/amc-cv-2021-Nov-gradapp-short.pdf?raw=1') #[ CV ]]
  li#menu #[a(href='http://www.almichu.com') #[ art stuff ]]
  li#menu #[a(href='https://scholar.google.com/citations?user=uaQUmbcAAAAJ') #[ publications ]]
