doctype
html
  head
    link(rel="stylesheet", href="/main.css")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Zen+Antique+Soft&display=swap")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Zen+Old+Mincho&display=swap")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+New&display=swap")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@200&display=swap")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Spectral+SC:wght@400&display=swap")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Spectral:wght@400&display=swap")
  body
    != yield
