include menu.jade
h1#handwrite Alice Mira = Alm Chung
div.content-center
  p.content-text
    | Hi, I'm Alice. I often think about...
    | 
    | 🌱 open-source software for
    | creative coding × informal learning
    | 🔍 representation of computing technology
    | ☀️ possibilities of automation
  h3 Currently:
  ul
    li ┌ Developing docs for #[a(href='https://p5js.org/') p5.js] Friendly Errors System as a technical writer ...
    li ├⋯ Running a #[a(href='https://bit.ly/p5fesSurvey') survey ] for improving and re-imaging Friendly Errors
    li └⋯ Developing a #[a(href='https://almichu.notion.site/p5-js-FES-Collaborative-Translation-ko-ENG-7b0ecceaacd64afaa2da3d61bac488ca') guideline ] for error writing and internationalization
    li + Developing a behavior tree-based multiagent simulation: #[a(href='https://football.kristinmcwharter.com/') #[ Football Practice ]]
  h3 Previously: 
  ul
    li + Developed #[a(href='https://almichu.cargo.site/Remote-Biology') low-barrier interfaces for microbiology]
    li + Developed #[a(href='https://almichu.cargo.site/p5-js-Friendly-Error-System') p5.js Friendly Error System]
    li + Made #[a(href='https://almichu.cargo.site/Biotic-Games') biotic games] with some classic video games flair
    li + Taught #[a(href='https://www.sjsu.edu/design/graphic-design/index.php') design], #[a(href='https://dma.ucla.edu/') media art] and #[a(href='https://bioengineering.stanford.edu/') engineering] undergraduates
    li + Made #[a(href='https://almichu.cargo.site/mo-ui-i-ron') zines] on GAN (Generative Adversarial Networks) Art
    li + Made comics #[a(href='https://almichu.cargo.site/Abstract-Comics-Generative') with code] and #[a(href='https://almchng.itch.io/') without code]
