div.content-center
  h1#handwrite Alice Mira = Alm Chung
  section
    p ❛ 〰 ❛ 
  section
    h3 <br>2022
    ul
      li + Created #[a(href='https://bit.ly/p5jsFESsurvey') p5.js FES Survey Report ]
      li + Co-wrote #[a(href='https://almchung.github.io/p5-fes-i18n-book/') Friendly Errors i18n Book] ✎ 친절한 오류 메시지 세계화 가이드북
      li + Built game AI for #[a(href='https://football.kristinmcwharter.com/') Football Practice ]
  section
    h3 2011-2021 
    ul
      li + Developed #[a(href='https://almichu.cargo.site/p5-js-Friendly-Error-System') p5.js Friendly Error System]
      li + Developed #[a(href='https://almichu.cargo.site/Remote-Biology') Remote system for microbiology]
      li + Developed #[a(href='https://almichu.cargo.site/Biotic-Games') Biotic Games]
      li + Taught #[a(href='https://www.sjsu.edu/design/graphic-design/index.php') design], #[a(href='https://dma.ucla.edu/') media art] and #[a(href='https://bioengineering.stanford.edu/') engineering] undergraduates
      li + Made #[a(href='https://almichu.cargo.site/mo-ui-i-ron') Decision-Making, Delegated, Art-Making], a zine on GAN (Generative Adversarial Networks) Art
      li + Made comics #[a(href='https://almichu.cargo.site/Abstract-Comics-Generative') with code] and #[a(href='https://almchng.itch.io/') without code]
