div.content-center
  section
    p ❛ 〰 ❛
    h1#handwrite Alice Mira = Alm Chung
  section
    h3 <br>2022
    ul
      li + #[a(href='https://bit.ly/p5jsFESsurvey') p5.js FES Survey Report ]
      li + #[a(href='https://almchung.github.io/p5-fes-i18n-book/') Friendly Errors i18n Book] ✎ 친절한 오류 메시지 세계화 가이드북
      li + #[a(href='https://football.kristinmcwharter.com/') Football Practice ]
  section
    h3 2011-2021 
    ul
      li + #[a(href='https://almichu.cargo.site/p5-js-Friendly-Error-System') p5.js Friendly Error System]
      li + #[a(href='https://almichu.cargo.site/Remote-Biology') Remote system for microbiology]
      li + #[a(href='https://almichu.cargo.site/Biotic-Games') Biotic Games]
      li + #[a(href='https://almichu.cargo.site/mo-ui-i-ron') Decision-Making, Delegated, Art-Making]
      li + #[a(href='https://almichu.cargo.site/Abstract-Comics-Generative') Generative Abstract Comics]