body {
  background-color: #40C559;
}

#comic{
  display: block;
  width: 100%;
  height: auto;
}

#comicpanel{
  padding: 0;
  margin: 0;
  font-size: 0;
  line-height: 0;
  position: relative;
}

#anchor-link{
  height: 5%;
  width: 20%;
  position: absolute;
}

.linkholder{
  padding: 0;
  margin: 0;
  font-size: 0;
  line-height: 0;
  position: absolute;
  top: 100%;
  right: 100%;
}

.linedpanel{
  padding: 0;
  margin: 0;
  outline:0.02em solid black;
  line-height: 95%;
  color: #23161A;
}

.linedpanel a:link{
  text-decoration: none;
  color: #E0F5E4;
}

h1#titlepanel{
  padding: 0;
  margin: 0;
  line-height: 90%;
}

.comicpaper{
  background: #40C559;
}

@media screen and (min-width: 48rem){
  h1#titlepanel {
    font-size: calc(2rem + 7vmin);
    line-height: 100%;
  }
  h3.linedpanel {
    font-size: calc(1rem + 4vmin);
  }
}