div.container.comicpaper
  div.grd-row
    h1 FES Survey Comic
  div.grd-row
    div.grd-row-col-3-6--md.comicpanel
      img#comic(src='./img/panel-01.png' alt="Before I talk about the FES survey, I want to share a story about my backyard. This year, my family got to rent a place with a backyard. It was our first time living in a home with a backyard, so we had no idea what to expect. There were many surprises. For example, I didn't know we would have so many visitors every day.")
    div.grd-row-col-3-6--md.comicpanel
      img#comic(src='./img/panel-02.png' alt="")
  div.grd-row
    div.grd-row-col-3-6--md.comicpanel
      img#comic(src='./img/panel-03.png' alt="")
    div.grd-row-col-3-6--md.comicpanel
      img#comic(src='./img/panel-04.png' alt="")
  div.grd-row
    div.grd-row-col-3-6--md.comicpanel
      img#comic(src='./img/panel-05.png' alt="")
    div.grd-row-col-3-6--md.comicpanel
      img#comic(src='./img/panel-06.png' alt="")
  div.grd-row
    div.grd-row-col-3-6--md.comicpanel
      img#comic(src='./img/panel-07.png' alt="")
    div.grd-row-col-3-6--md.comicpanel
      img#comic(src='./img/panel-08.png' alt="")
  div.grd-row
    div.grd-row-col-3-6--md.comicpanel
      img#comic(src='./img/panel-09.png' alt="")
    div.grd-row-col-3-6--md.comicpanel
      img#comic(src='./img/panel-10.png' alt="")
  div.grd-row
    div.grd-row-col-3-6--md.comicpanel
      img#comic(src='./img/panel-11.png' alt="")
    div.grd-row-col-3-6--md.comicpanel
      img#comic(src='./img/panel-12.png' alt="")
  div.grd-row
    div.grd-row-col-3-6--md.comicpanel
      img#comic(src='./img/panel-13.png' alt="")
    div.grd-row-col-3-6--md.comicpanel
      img#comic(src='./img/panel-14.png' alt="")
  div.grd-row
    div.grd-row-col-3-6--md.comicpanel
      img#comic(src='./img/panel-15.png' alt="")
    div.grd-row-col-3-6--md.comicpanel
      img#comic(src='./img/panel-16.png' alt="")
  div.grd-row
    div.grd-row-col-3-6--md.comicpanel
      img#comic(src='./img/panel-17.png' alt="")
    div.grd-row-col-3-6--md.comicpanel
      img#comic(src='./img/panel-18.png' alt="")
  div.grd-row
    p >> The end
    